# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [125]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [124]:
hash('a') #usar funcion hash arriba para que sean valores unicos

-3420375170256260647

In [126]:
print(hash_function('gato'))
print(hash_function('tapo'))

-8769623984339193856
12513941295442337978

In [109]:
import pandas as pd

In [110]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1', thousands ='.')

In [111]:
# desde aqui empiezo yo
df.dropna(inplace=True)  #para guardar los cambios en el mismo archivo sin los valores nulos

In [112]:
df.rename(columns={'Código de país' : 'Cod_pais','Nombre del país' : 'Nom_pais',
                'CO2 (kt)' : 'Emisiones_co2','CO2 per cápita (toneladas métricas)' : 'Emico2_percapita'}, inplace= True)
                # inplace guarda cambios en el mismo archivo

In [113]:
# df['Cod_pais'] # para traer una columna por su nombre
df['Clave_Hash'] = df['Cod_pais'].apply(hash_function)  # crea la columna y agrega los valores al cod de pais con la funcion hash

In [114]:
df

,Cod_pais,Nom_pais,Región,Año,Emisiones_co2,Emico2_percapita,Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165,910
...,...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,9732.220,0.731867,951
11123,ZWE,Zimbabue,África subsahariana,2008,7682.370,0.569255,951
11124,ZWE,Zimbabue,África subsahariana,2009,8239.750,0.600521,951
11125,ZWE,Zimbabue,África subsahariana,2010,9028.150,0.646073,951
11126,ZWE,Zimbabue,África subsahariana,2011,9860.560,0.691698,951

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [115]:
dfsolicitado = df[['Clave_Hash','Cod_pais','Nom_pais','Región']].drop_duplicates().reset_index() # drop_duplicates saca todos los duplicados,
# reset_index los ordena por indice
dfsolicitado

,index,Clave_Hash,Cod_pais,Nom_pais,Región
0,26,910,ABW,Aruba,América Latina y Caribe
1,87,870,AND,Andorra,Europa y Asia Central
2,104,858,AFG,Afganistán,Sur de Asia
3,156,893,AGO,Angola,África subsahariana
4,208,856,ALB,Albania,Europa y Asia Central
...,...,...,...,...,...
194,10867,927,YEM,Yemen,Oriente Medio y Norte de África
195,10919,889,ZAF,Sudáfrica,África subsahariana
196,10971,877,COD,Congo (República Democrática),África subsahariana
197,11027,909,ZMB,Zambia,África subsahariana
198,11079,951,ZWE,Zimbabue,África subsahariana

In [119]:
dfsolicitado

,index,Clave_Hash,Cod_pais,Nom_pais,Región
0,26,910,ABW,Aruba,América Latina y Caribe
1,87,870,AND,Andorra,Europa y Asia Central
2,104,858,AFG,Afganistán,Sur de Asia
3,156,893,AGO,Angola,África subsahariana
4,208,856,ALB,Albania,Europa y Asia Central
...,...,...,...,...,...
194,10867,927,YEM,Yemen,Oriente Medio y Norte de África
195,10919,889,ZAF,Sudáfrica,África subsahariana
196,10971,877,COD,Congo (República Democrática),África subsahariana
197,11027,909,ZMB,Zambia,África subsahariana
198,11079,951,ZWE,Zimbabue,África subsahariana

In [118]:
dfsolicitado.to_excel('dfsolicitado.excel')  # para guardar el archivo en excel

ValueError: No engine for filetype: 'excel'

In [120]:
df.drop(['Cod_pais','Nom_pais','Región'], inplace=True, axis=1)  # axis significa que no se refiere a las filas sino a las columnas

KeyError: "['Cod_pais', 'Nom_pais', 'Región'] not found in axis"

In [117]:
df

        Año  Emisiones_co2  Emico2_percapita  Clave_Hash
26     1986        179.683          2.868319         910
27     1987        447.374          7.234964         910
28     1988        612.389         10.026508         910
29     1989        649.059         10.634733         910
30     1990       1840.830         29.620165         910
...     ...            ...               ...         ...
11122  2007       9732.220          0.731867         951
11123  2008       7682.370          0.569255         951
11124  2009       8239.750          0.600521         951
11125  2010       9028.150          0.646073         951
11126  2011       9860.560          0.691698         951

[9029 rows x 4 columns]

In [121]:
dfsolicitado.drop(['Cod_pais','Nom_pais','Región'], inplace=True, axis=1)
dfsolicitado

     index  Clave_Hash
0       26         910
1       87         870
2      104         858
3      156         893
4      208         856
..     ...         ...
194  10867         927
195  10919         889
196  10971         877
197  11027         909
198  11079         951

[199 rows x 2 columns]

In [130]:
from math import factorial

print ("Factorial is", factorial(3))

Factorial is 6